body{
    margin: 0;
    background-color: #fff;
    font-family: 'Poppins', sans-serif;
}

/* Hero Section */

.hero {
  position: relative;
  height: 640px;
  width: 100%;
  overflow: hidden;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  z-index: 1;
  position: relative;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  right: 50px;
  width: 100%;
  padding: 0px 0px;
}

.navbar .logo {
  height: 50px;
  width: 95px;
  position: relative;
  left: 100px;
}


.navbar nav a {
  margin: 0 10px;
  padding-left: 50px;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  color: #fff;
}

.navbar nav a:hover {
  color: white;
}
